* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.body {
  margin: 0;
  padding: 0;
  background: rgb(19,28,37);
  background: linear-gradient(38deg, rgba(19,28,37,1) 0%, rgba(11,38,55,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  
}